h1 {
    /* border: 2px #eee solid; */
    color: navy;
    text-align: center;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    height: auto;
}

.add-events-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    margin-top: 40px;
}

.button-group {
    display: flex;
    gap: 10px;
}

button {
    padding: 14px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #4a90e2;
    color: white;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
}

button:hover {
    background-color: #357abd;
}

#urlinput {
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    display: block;
    margin: 20px auto;
    max-width: 800px;
}
